<div class="flex-box">
    <div class="quote-box"><%= quoteObj.quote %></div>
</div>

<form action="/check" method="POST">
    <div class="flex-box">
        <label for="example"></label>
        <input id="guess-input" type="text" name="guessTerm" autocomplete="off" placeholder="Guess..." readonly/>
    </div>
    <div>
        <input type="submit" value="Send" accesskey="s" hidden disabled/>
    </div>
</form>

<div class="guess-list">
    <% if (guesses.length != 0) { %>
        <% guesses.forEach(function(guess, index) { %>
            <% if (quoteObj.acceptableAnswers.includes(guess)) { %>
                <div class="guess-item" style="background-color: green"><%= guess %></div>
            <% } else { %>
                <div class="guess-item" style="background-color: red"><%= guess %></div>
            <% } %>
        <% }) %>
    <% } %>
</div>

<div class="flex-box">
    <div style="font-size: 30px;">The correct answer was</div>
</div>

<div class="flex-box">
    <div style="font-size: 45px; font-weight: 900; font-style: italic;"><%= quoteObj.character %></div>
</div>
<div class="flex-box">
    <div style="font-size: 25px">from</div>
</div>
<div class="flex-box">
    <div style="font-size: 45px; font-weight: 900; font-style: italic;"><%= quoteObj.anime %></div>
</div>

<div class="flex-box">
    <a href="/playAgain">
        <button class="play-again-button">Want a new quote?</button>
    </a>
</div>
