<script src="scripts/hacker.js"></script>
<div class="flex-box">
    <h1 class="name" onload="changeColor()">CAN YOU GUESS WHO SAID THIS QUOTE?</h1>
</div>

<!-- <div class="flex-box">
    <div class="flex-box hint-box">
        <button class="hint-button hint-1" onclick="displayHintOne()">Show Hint</button>
        <button class="hint-button hint-2" onclick="displayHintTwo()">Name Hint</button>
    </div>
</div>
<div class="flex-box">
    <div id="display-hint-1" style="display: none"><%= quoteObj.anime %></div>
    <div id="display-hint-2" style="display: none"><%= quoteObj.hintString %></div>
</div> -->

<div class="flex-box">
    <div class="d-border">
        <div class="flex-box">
            <div class="flex-box hint-box">
                <button class="hint-button hint-1" onclick="displayHintOne()">Show Hint</button>
                <button class="hint-button hint-2" onclick="displayHintTwo()">Name Hint</button>
            </div>
        </div>
        <div class="flex-box">
            <div id="display-hint-1" style="display: none"><%= quoteObj.anime %></div>
            <div id="display-hint-2" style="display: none"><%= quoteObj.hintString %></div>
        </div>
    </div>
</div>

<div class="flex-box">
    <div class="quote-box"><%= quoteObj.quote %></div>
</div>

<form action="/check" method="POST">
    <div class="flex-box">
        <label for="example"></label>
        <input id="guess-input" type="text" name="guessTerm" autocomplete="off" placeholder="Guess..."/>
    </div>
    <div>
        <input type="submit" value="Send" accesskey="s" hidden />
    </div>
</form>

<div class="guess-list">
    <% if (guesses.length != 0) { %>
        <% guesses.forEach(function(guess, index) { %>
            <% if (quoteObj.acceptableAnswers.includes(guess)) { %>
                <div class="guess-item" style="background-color: greenyellow"><%= guess %></div>

            <% } else { %>
                <div class="guess-item" style="background-color: red"><%= guess %></div>
            <% } %>
        <% }) %>
    <% } %>
</div>
