<script src="scripts/hacker.js"></script>
<div class="flex-box">
    <h1 class="name" onload="changeColor()">CAN YOU GUESS WHO SAID THIS QUOTE?</h1>
    <div class="game-mode-holder">
        <form action="/changeMode" method="POST">
            <select name="gameMode" class="game-mode-selection" onchange="this.form.submit()">
                <% if (animeToggled) { %>
                    <option selected disabled hidden>Choose an anime</option>
                    <option value="random">Random</option>
                    <option value="one+piece">One Piece</option>
                    <option value="naruto">Naruto</option>
                <% } else { %>
                    <option selected disabled hidden>Choose a show</option>
                    <option value="game+of+thrones">Game of Thrones</option>
                    <option value="breaking+bad">Breaking Bad</option>
                <% } %>
            </select>
        </form>
    </div>
    <div class="toggle-anime-western-shows">
        <form action="/changeToAnime" method="POST">
            <% if (animeToggled) { %>
                <button class="toggle-button toggle-anime" disabled>Anime</button>
            <% } else { %>
                <button class="toggle-button toggle-anime">Anime</button>
            <% } %>
        </form>
        <form action="/changeToShows" method="POST">
            <% if (animeToggled) { %>
                <button class="toggle-button toggle-shows">Shows</button>
            <% } else { %>
                <button class="toggle-button toggle-shows" disabled>Shows</button>
            <% } %>
        </form>
    </div>
</div>

<div class="flex-box">
    <div class="d-border">
        <div class="flex-box">
            <div class="flex-box hint-box">
                <div class="tooltip">
                    <% if (hint1) { %>
                        <button class="hint-button hint-1" onmouseenter="showToolTip('tip-1')" onmouseleave="hideToolTip('tip-1')"
                            onclick="displayHintOne()">Show Hint</button>
                    <% } else { %>
                        <button class="hint-button hint-1" onmouseenter="showToolTip('tip-1')" onmouseleave="hideToolTip('tip-1')"
                            onclick="displayHintOne()" disabled>Show Hint</button>
                    <% } %>
                    <span id="tip-1" class="tooltiptext tooltip-1">Reveal the show of the character</span>
                </div>
                <div class="tooltip">
                    <% if (hint2) { %>
                        <button class="hint-button hint-2" onmouseenter="showToolTip('tip-2')" onmouseleave="hideToolTip('tip-2')"
                            onclick="displayHintTwo()">Name Hint</button>
                    <% } else { %>
                        <button class="hint-button hint-2" onmouseenter="showToolTip('tip-2')" onmouseleave="hideToolTip('tip-2')"
                            onclick="displayHintTwo()" disabled>Name Hint</button>
                    <% } %>
                    <span id="tip-2" class="tooltiptext tooltip-2">Reveal half of the character's name</span>
                </div>

            </div>
        </div>
        <div class="flex-box">
            <div id="display-hint-1" style="display: none"><%= quoteObj.anime %></div>
            <div id="display-hint-2" style="display: none"><%= quoteObj.hintString %></div>
        </div>
    </div>
</div>

<div class="flex-box">
    <div class="quote-box"><%= quoteObj.quote %></div>
</div>

<form action="/check" method="POST">
    <div class="flex-box">
        <label for="example"></label>
        <input id="guess-input" type="text" name="guessTerm" autocomplete="off" placeholder="Guess..."/>
    </div>
    <div>
        <input type="submit" value="Send" accesskey="s" hidden />
    </div>
</form>

<div class="guess-list">
    <% if (guesses.length != 0) { %>
        <% guesses.forEach(function(guess, index) { %>
            <% if (quoteObj.acceptableAnswers.includes(guess)) { %>
                <div class="guess-item" style="background-color: greenyellow"><%= guess %></div>

            <% } else { %>
                <div class="guess-item" style="background-color: red"><%= guess %></div>
            <% } %>
        <% }) %>
    <% } %>
</div>
